<div class="container">
    <h1 class="title">Productos</h1>
    {{#if isValid}}
        <ul class="productList">
        {{#each products}}
            <li>{{this.title}} - {{this.description}} - {{this.price}}</li>
            <br>
        {{/each}}
        </ul>
        <hr>
        <div class="buttonsPag">
            <div class="buttonPaginate">
                {{#if hasPrevPage}}
                    <a href="{{this.prevLink}}"><< Anterior</a>
                {{/if}}
            </div>
            <div class="buttonPaginate">
                {{#if hasNextPage}}
                    <a href="{{this.nextLink}}">Siguiente >></a>
                {{/if}}
            </div>
        </div>
        
    {{else}}
       <h2>No hay productos para mostrar</h2>
    {{/if}}
</div>
<script src="/js/index.js"></script>
